body{
	background:#00224D;
	color:#FF204E; /*97FEED, FF204E*/
    font-family: "Share Tech Mono", "Playfair Display", "Montserrat","Comic Sans MS", Consolas, serif;
    font-weight: 1;
    padding: 0;
    margin: auto;
    overflow: hidden;
}

canvas{
	background: #000;
	width: 100vw;
	height: 100vh;
}